<header class="navbar navbar-expand navbar-dark bg-dark border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand py-0 d-flex align-items-center" href="{{ '/' | prepend: site.baseurl }}">
      <img src="https://github.com/m-naeem66622.png" alt="Logo" height="35" class="d-inline-block align-text-top rounded-circle me-2">
      <span>{{ site.data.bio.basics.name }}</span>
    </a>
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a>
        <a class="nav-link" href="{{ '/resume.html' | prepend: site.baseurl }}">Resume</a>
      </ul>
    </div>
  </div>
</header>
